body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13pt;
}
div.error p {
    left: 0;
    margin-left: 14px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    color: red;
    font-size: 70%;
    position: absolute;
    z-index: 100;
    background: white;
    padding: 0 15px;
    border: 1px solid rgba(0,0,0,0.2);
}
article.container {
    padding: 40pt;
}
header.container, footer.container {
    text-align: center;
}
header.container {
    font-size: 250%;
    font-weight: bold;
}
.row {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 10px;
}
.row div {
    text-align: center;
}
.row.th div {
    font-weight: bold;
}
.btn,
.btn:hover,
.btn:focus,
.btn:active:hover,
.btn:active,
.btn-green,
.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green:active:hover,
.btn-red,
.btn-red:hover,
.btn-red:focus,
.btn-red:active:hover,
.btn-red:active {
    font-weight: bold;
    outline: 0 none;
    border: 0 none;
    color: white;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}
.btn-green {
    background: rgba(40,200,40,0.7);
}
.btn-red {
    background: rgba(200,40,40,0.7);
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active {
    background: rgba(40,180,40,0.7);
}
.btn-red:hover,
.btn-red:focus,
.btn-red:active {
    background: rgba(180,40,40,0.7);
}