<div ng-controller="ContactsCtrl">
    <div class="table">
        <div class="row th">
            <div class="col-md-1">Id</div>
            <div class="col-md-2">First Name</div>
            <div class="col-md-2">Last Name</div>
            <div class="col-md-2">Email</div>
            <div class="col-md-3">Country</div>
            <div class="col-md-2">Options</div>
        </div>
        <form name="contactsForm" novalidate>
        <div class="row" ng-repeat="contact in contacts track by $index">
            <div class="col-md-1">{{contact.id}}</div>
            <div class="col-md-2">
                <input type="text" class="form-control" name="first_name_{{$index}}" placeholder="Last name" ng-model="contact.first_name" ng-minlength="3" ng-maxlength="12" required>
                <div class="error" ng-messages="contactsForm['first_name_'+$index].$error" role="alert">
                    <p ng-message="minlength">First name is too short.</p>
                    <p ng-message="maxlength">First name is too long.</p>
                    <p ng-message="required">First name is required.</p>
                </div>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" name="last_name_{{$index}}" placeholder="Last name" ng-model="contact.last_name" ng-minlength="3" ng-maxlength="12" required>
                <div class="error" ng-messages="contactsForm['last_name_'+$index].$error">
                    <p ng-message="minlength">Last name is too short.</p>
                    <p ng-message="maxlength">Last name is too long.</p>
                    <p ng-message="required">Last name is required.</p>
                </div>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" name="email_{{$index}}" placeholder="Email" ng-model="contact.email" required ng-pattern="/^[a-zA-Z0-9_\-\.]+@[a-zA-Z0-9_\-\.]+\.[a-zA-Z0-9_\-\.]{2,5}$/">
                <div class="error" ng-messages="contactsForm['email_'+$index].$error">
                    <p ng-message="pattern">E-mail is wrong.</p>
                    <p ng-message="required">E-mail is required.</p>
                </div>
            </div>
            <div class="col-md-3">
                <select type="text" class="form-control" name="country_{{$index}}" ng-model="contact.country" pvp-country-picker="name"></select>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-default btn-success" ng-click="edit($index, contact)"><i class="fa fa-check" aria-hidden="true"></i></button>
                <button type="submit" class="btn btn-default btn-danger" ng-click="delete(contact.id)"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
        </div>
        </form>
        <form name="contactForm" novalidate>
        <div class="row">
                <div class="col-md-1">New</div>
                <div class="col-md-2">
                    <input type="text" class="form-control" name="first_name" placeholder="First name" ng-model="newContact.first_name" ng-minlength="3" ng-maxlength="12" required>
                    <div class="error" ng-messages="submitted && contactForm.first_name.$error" role="alert">
                        <p ng-message="minlength">First name is too short.</p>
                        <p ng-message="maxlength">First name is too long.</p>
                        <p ng-message="required">First name is required.</p>
                    </div>
                    <!--span class="alert error" ng-show="submitted && contactForm.first_name.$invalid">First name is required</span-->
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" name="last_name" placeholder="Last name" ng-model="newContact.last_name" ng-minlength="3" ng-maxlength="12" required>
                    <div class="error" ng-messages="submitted && contactForm.last_name.$error">
                        <p ng-message="minlength">Last name is too short.</p>
                        <p ng-message="maxlength">Last name is too long.</p>
                        <p ng-message="required">Last name is required.</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" name="email" placeholder="Email" ng-model="newContact.email" required ng-pattern="/^[a-zA-Z0-9_\-\.]+@[a-zA-Z0-9_\-\.]+\.[a-zA-Z0-9_\-\.]{2,5}$/">
                    <div class="error" ng-messages="submitted && contactForm.email.$error">
                        <p ng-message="pattern">E-mail is wrong.</p>
                        <p ng-message="required">E-mail is required.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <select type="text" class="form-control" name="country" ng-model="newContact.country" pvp-country-picker="name"></select></div>
                <div class="col-md-2">
                    <button type="submit" value="Poland" class="btn btn-default btn-success" ng-click="add(newContact)">Add</button>
                </div>
         </div>
         </form>
    </div>
    <button type="submit" class="btn btn-default btn-info" ng-click="goToList()">List</button>
</div>