<div ng-controller="ContactsCtrl">
    <div class="table">
        <div class="row th">
            <div class="col-md-1">Id</div>
            <div class="col-md-2">First Name</div>
            <div class="col-md-3">Last Name</div>
            <div class="col-md-3">Email</div>
            <div class="col-md-3">Country</div>
        </div>
        <div class="row" ng-repeat="contact in contacts track by $index">
            <div class="col-md-1">{{contact.id}}</div>
            <div class="col-md-2">{{contact.first_name}}</div>
            <div class="col-md-3">{{contact.last_name}}</div>
            <div class="col-md-3">{{contact.email}}</div>
            <div class="col-md-3">{{contact.country}}</div>
        </div>
    </div>
    <button type="submit" class="btn btn-default btn-info" ng-click="goToAdmin()">Administration</button>
</div>
